<option value="Ahmedabad">Ahmedabad</option>
<option value="Amritsar">Amritsar</option>
<option value="Bangalore">Bangalore</option>
<option value="Bhopal">Bhopal</option>
<option value="Bhubaneswar">Bhubaneswar</option>
<option value="Bilaspur">Bilaspur</option>
<option value="Chennai">Chennai</option>
<option value="Coimbatore">Coimbatore</option>
<option value="Cuttack">Cuttack</option>
<option value="Dehradun">Dehradun</option>
<option value="Durgapur">Durgapur</option>
<option value="Dwarka">Dwarka</option>
<option value="Faridabad">Faridabad</option>
<option value="Gaya">Gaya</option>
<option value="Gurgaon">Gurgaon</option>
<option value="Guwahati">Guwahati</option>
<option value="Haridwar">Haridwar</option>
<option value="Hyderabad">Hyderabad</option>
<option value="Indore">Indore</option>
<option value="Jaipur">Jaipur</option>
<option value="Jamshedpur">Jamshedpur</option>
<option value="Jodhpur">Jodhpur</option>
<option value="Kochi">Kochi</option>
<option value="Kolkata">Kolkata</option>
<option value="Lucknow">Lucknow</option>
<option value="Ludhiana">Ludhiana</option>
<option value="Mangalore">Mangalore</option>
<option value="Mumbai">Mumbai</option>
<option value="Mysore">Mysore</option>
<option value="Nagpur">Nagpur</option>
<option value="New Delhi">New Delhi</option>
<option value="Noida">Noida</option>
<option value="Patna">Patna</option>
<option value="Pune" selected>Pune</option>
<option value="Raipur">Raipur</option>
<option value="Ranchi">Ranchi</option>
<option value="Silchar">Silchar</option>
<option value="Surat">Surat</option>
<option value="Trivandrum">Trivandrum</option>
<option value="Vijayawada">Vijayawada</option>
<option value="Vishakhapatnam">Vishakhapatnam</option>
<option value="Warangal">Warangal</option>